<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta commodi officia, illo eos earum tenetur est ab doloribus veritatis deleniti.</p>
    </div>
</div>
