<div class="mt-4 p-5 bg-light rounded">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores necessitatibus, voluptate quasi ab aperiam sint dolor natus a dignissimos, quis libero ea voluptatum similique beatae omnis quia quaerat obcaecati ducimus!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi adipisci commodi fugiat veniam nam dolor animi accusantium iusto recusandae, pariatur necessitatibus repellat ad. Voluptatibus minima, doloribus rerum nulla nostrum vel!</p>
    <a href="http://google.com" class="btn btn-primary">Google</a>
</div>


