<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Login
            </div>
            <img src="/img/logo-social.png" class="rounded-circle d-block logo">
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="mb-3 d-grid">
                        <button class="btn btn-primary">Signin</button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>